AMAZON_RECSYS_APP_NAME=Amazon RecSys Platform
AMAZON_RECSYS_APP_VERSION=0.1.0
AMAZON_RECSYS_ENVIRONMENT=local
AMAZON_RECSYS_DEBUG=true
AMAZON_RECSYS_HOST=0.0.0.0
AMAZON_RECSYS_PORT=8000
AMAZON_RECSYS_RELOAD=false
AMAZON_RECSYS_LOG_LEVEL=INFO
AMAZON_RECSYS_DATA_DIR=amazon_review_data
AMAZON_RECSYS_ARTIFACT_ROOT=artifacts/amazon_recsys
AMAZON_RECSYS_ACTIVE_BUNDLE_PATH=artifacts/production/active_bundle.json
AMAZON_RECSYS_DEFAULT_TOP_K=7
AMAZON_RECSYS_USE_MOCK_BUNDLE_IF_MISSING=true
AMAZON_RECSYS_AZURE_SUBSCRIPTION_ID=
AMAZON_RECSYS_AZURE_RESOURCE_GROUP=rg-amazon-recsys
AMAZON_RECSYS_AZURE_LOCATION=southafricanorth
AMAZON_RECSYS_AZURE_ML_WORKSPACE=aml-amazon-recsys
AMAZON_RECSYS_AZURE_AKS_CLUSTER=aks-amazon-recsys
